<!DOCTYPE html>
<html>
<head>
    <title>View Posts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="css/blog.css">
</head>
<body>
<br><br><br><br><br>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#top"><img id="logo-nav" src="/images/limelight logo.jpg"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/#bannertitles">Wayne's World</a></li>
            <li><a href="/#whyme">Why me?</a></li>
            <li><a href="/#portfoliotitle">What have i done?</a></li>
            <li><a href="/captains-log">Captain's Log</a></li>
          </ul>
        
        </div>
      </div>
    </nav>
<!--  -->

                <!-- Pager -->
                <div>

    
                <% for(blog of blogs) { %>
    <div class="container-fluid">

        <% blog.image %>
        <br>

        <%= blog.title %>
        <br>
        
        <% blog.location %>
        <br>
         <br>
        <%= blog.body %>
        <hr>
    </div>
    <% } %>
                    
                </div>
                
        
	</div>
</body>
</html>
