<!DOCTYPE html>
<html>
<head>
    <title>View Posts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/blog.css">
</head>
<body>
<br><br><br><br><br>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#top"><img id="logo-nav" src="/images/limelight logo.jpg"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/#bannertitles">Wayne's World</a></li>
            <li><a href="/#whyme">Why me?</a></li>
            <li><a href="/#portfoliotitle">What have i done?</a></li>
            <li><a href="/captains-log">Captain's Log</a></li>
          </ul>
        
        </div>
      </div>
    </nav>
<div class="container">
		<!-- First Blog Post -->
                <h2>
                    <a href="#">April 1, 2017, we make history!
			The Limelight's A&R Project is on the way....</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">The Limelight C.E.O.</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on Feb 28, 2017 at 11:30 AM</p>
                <hr>
                
                <hr>
            <p>
                Founded in 2013, The Limelight was founded to help artists build a fan-base, while making it easier for music-fans to find high quality music and shows. We leverage our music business experiences and relationships to add value to our site users. The Limelight is an artist development platform. We help artists to take the next step in their careers, by providing them networking opportunities, shows, promotion, label submissions, radio, DJ, PR, management or consulting, depending on their needs. 
            </p>
            <br>
            <p>
				Users are able to create shows and tours and post them to their profiles. These shows will be shareable to popular social networks. 
				This tool makes it easier for music fans to discover new local talent and attend their shows and tours. <br>
				<p>
				With Partnerships with some of the hottest labels and professionals we are now ready to expand this to a larger audience! Thanks to People like Jimson T, Tannis H, Ryan Gross and his team of warriors, Dleaks, Street kings, G Unit-JayT, TroyLLF, Chuck, Mitch, Pat S. and you...we're coming. </p><br><br>

				<p>
				We are planning a beta release, April 1, 2017. It's time to change the world, one song at a time...

				The Limelight is the LinkedIn meets American Idol for the music industry. If you would like to find out more about joining this beta, then click the button and find out how deep this rabbit hole goes...
				</p>
                <!-- <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a> -->

                <hr>

                <!-- Second Blog Post -->
                <h2>
                    <a href="#">How To Release An Album – The Definitive Checklist</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">The Limelight C.E.O.</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on February 28, 2017 at 10:45 PM</p>
                <hr>
                
                <hr>
                <p><i>This is a re-post from Nick Rubright, the founder and CEO of Dozmia.</i>
                </p>
                <br>
                <p>For almost any musician, releasing new music is essential to maintaining a career in music, but doing so correctly is important to said release being a success, and neglecting key administrative steps diminish the potential success of any release.</p>
                <br>
                <p>
                	Releasing new music is an important part of maintaining your music career, but many musicians simply don’t know how to properly do this.  They’ll put together a few songs, record them, and distribute an album to iTunes, skipping important administrative steps.

					Skipping these steps can cost you later on in your career, and you may miss out in some royalties.

					For those just starting out, or releasing their first album, here are some things you should get taken care of as quickly as possible.
					<br><br>

					<b>1. Trademark your artist or band name</b>
					<br><br>
					The last thing you want is to discover that another band has the same name as you after you’ve released your first album.  If this happens, changing your band name and rebranding yourself can get expensive quickly.

					To protect yourself from this, you want to check to see if your band name is taken.  If it isn’t, you want to trademark your band name to protect it as soon as possible to prevent others from using it.

					<br><br>

					<b>2. Copyright your songs</b>
					<br><br>
						<p>While it’s true that you own the copyright to your song once it’s made into a tangible form, you need to register your music with the copyright office to be able to leverage the courts. <br>

						If you need help understanding how to copyright music, it’s best to speak to a music attorney, but this is something that is simple to do yourself with little room for error.</p>
					<br>

					<b>3. Affiliate with a Performance Rights Organization (PRO)</b>
					<br><br>
						<p>When businesses from restaurants to radio stations use your music, they pay public performance royalties through BMI, ASCAP, and SESAC.  Affiliating yourself with one of these organizations lets you get paid for these public performances. <br><br>

						To help you decide which PRO to affiliate with, check out this ASCAP vs. BMI comparison table.  If you’re already affiliated with a PRO, be sure to add the information of your newly released tracks.</p>
					<br>

					<b>4. Register with SoundExchange</b>
					<br><br>
						<p>While ASCAP and BMI pay songwriters for public performances of their music, SoundExchange pays for digital performances of recordings.  Registering your music with SoundExchange can help you earn royalties from digital music services like Pandora and iHeartRadio.</p>
					<br>

					<b>5. License your cover songs</b>
					<br><br>
						<p>If you have any cover songs on your album, you need the mechanical rights to those songs before you can legally release the album. <br>

						Services like Easy Song Licensing can help you get the appropriate rights to a song so you can legally release it with your album.</p>
					<br>

					<b>6. Get proper distribution</b>
					<br><br>
						<p>Many online services like TuneCore and CDBaby offer music distribution that can help you get your music into all of the major digital stores, but don’t forget to also upload your music to services like SoundCloud, Pandora, and Dozmia so your music is in as many places as possible.</p>
					<br>

					<b>7. Add your album to SoundScan</b>
					<br><br>
						<p>SoundScan is a system operated by Nielsen that tracks sales of music and music videos in the United States and Canada.  You can add your new music here.</p>
					<br>

					<b>8. Put together a marketing plan</b>
					<br><br>
						<p>Knowing how to promote your music is essential to music industry success.  If you want your new release to be successful, you can’t just put it out there and expect people to find it – you need to effectively promote it.  Blogger outreach, radio promotion, and social media are a few things that should be a part of your marketing plan.</p>
                </p>

                <hr>

                <!-- Third Blog Post -->
                <h2>
                    <a href="#">What is The A&ampR Project?</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">The Limelight C.E.O.</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on February 28, 2017 at 10:45 AM</p>
                <hr>
                <iframe width="853" height="480" src="https://www.youtube.com/embed/Oz7IPrCDpm4" frameborder="0" allowfullscreen class ="blog-photo"></iframe>
                
                <hr>
                		<p id="blog3">Limelight Management Group proudly presents: The A&R project. <br>Welcome to The Limelight, where Rock Stars are built.</p><br>

		                <p>We're creating a platform for the the most talented music makers in the world! If you are incredible and long for stardom, you may have what it takes to make it to The Limelight. Now, what can The Limelight do for YOU?</p> <br>

		                <p><b>Take your show on the road...</b><br><br>

						One of the core components of any successful artists' career is venue access. We provide access to shows, fans, promotion, and music business professionals. 



						Cut out the middle men, and book your own shows, find  your own venues. We're giving you the tools to build your brand and take your show on the road.



						Fans can simply search for shows that are located in their area, and share these events with their friends. You're a quick search away from the time of your life.</p><br>
                		<p>
                		<b> Lights... Camera ... Action </b><br><br>

						Join the 15,000 active users who have taken their first step to finding an audience and team to support their careers.

                		The Limelight was founded to help artists build a fan-base, while making it easier for music fans to find high quality music and shows. We leverage our music business experiences and relationships to add value to our site users. The Limelight is an artist development platform. We help artists to take the next step in their careers, by providing them networking opportunities, shows, promotion, label submissions, radio, DJ, PR, management or consulting, depending on their needs. 
						Users are able to create shows and tours and post them to their profiles. These shows will be shareable to popular social networks. 
						This tool makes it easier for music fans to discover new local talent and attend their shows and tours. The Limelight is the LinkedIn for the music industry.</p>

                <hr>

                <!-- Pager -->
                
        
	</div>
</body>
</html>
