<div class="container">
<header><h1>Captain's Logs</h1></header>
<h2><a href="/blog">Create New Weblog</a></h2>

                <!-- Pager -->
                <div>

    
                <% for(blog of blogs) { %>

        <hr>
        <% blog.image %>
        <br>
        <%= blog.title %>
        <br>
        
        <% blog.location %>
        <br>
         <br>
        <%= blog.body %>
        <br><br>
        <form action="/edit/<%= blog.id %>" method="get">
                        <button class="btn" type="submit">Edit</button>
                    </form>
                    <br>
                    <form action="/delete/<%= blog.id %>" method="post">
                        <button class="btn" type="submit">DELETE</button>
                    </form>
                   <hr> 
                    
    <% } %>
    </div>
                </div>