body {
   background: #ffffff;
  font-family: "Open sans",sans-serif;
  margin-bottom: -300px;
}
h1 {
  font-size: 50px;
  font-family: "Montserrat",sans-serif;
  color: rgb(10,10,10);
}
h2 {
  font-size: 18px;
  color: rgb(10,10,10);
  font-family: sans-serif;
}
#bannertitles {
  color: black !important;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 44px !important;
  margin-left: 175px;
}
#but1{
  padding-right: 0px;

}
nav{
  position: fixed;
}
#logo-nav{
  height: 39px;
  width: 43px;
  margin-top: -8px;
}
/*Banner Styles*/

#banner {
  padding: 200px 0 230px;
  background: url("http://www.blenditwell.com/wp-content/uploads/2016/05/Entrepreneur.jpg") center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
#banner h1 {
    font-size: 55px;
    color: rgb(250,250,250);
}
#banner p {
  font-size: 22px;
  color: rgb(240,240,240);
  opacity: 0.85;
}

/*Image Style*/
#rockstar {
  width: 50%;
  height: 40%;
  image-rendering: 
}

/*Iframe design*/
#iframe{
  border-top: 30px;
  background-color: lime;
  opacity: 0.7;
  border-radius: 45px;
}


/* Info Container Styles */

.info {
  margin-top: 40px;
}
.info .row {
  margin-top: 30px;
}
.info .row h2 {
  font-size: 28px;
  font-family: "Monserrat",sans-serif;
  color: rgb(17,17,17);
}
.info .row p {
  font-size: 17px;
  font-family: "Open sans",sans-serif;
  color: rgb(100,100,100);
}
.info .row .imgContainer {
  text-align: center;
}
.info .row img {
  width: 230px;
}
/*logo CSS*/
#logo {
  border-radius: 100px;
  height:460px;
  width: 460px;
}


/* Footer Designs */

#footer {
  padding: 30px 50px 20px;
  background: rgb(17,17,17);
  margin-top: 30px;
}
#footer p {
  color: rgb(100,100,100);
  font-size: 14px;
  margin-bottom: 15px;
}
#footer ul li a {
  font-size: 26px;
  color: gray;
  cursor: pointer;
  margin-left: 10px;
}
li{
  list-style: none;
}
#footer ul li a:hover {
  color: #eee;
}
.wayneworld-container{
font-family: "Comic Sans MS", "Comic Sans", cursive;

}

#unicorn{
  max-height: 880px;
  max-width: 920px, center;
  opacity: 0.7;
/*  filter: brightness(5%);
*/border-radius: 20px;
  margin-left: 200px;
}
#unicorn-text{
  font-size: 40px;
  color: red;
  font-family: "Comic Sans MS", "Comic Sans", cursive;

}
#pointing{
  width: 100px;
  height: auto;
  margin-left: 1000px;
}
#limetext{
  color: lime;
}
.tweetpic{
  width: 50px;
  height: auto;
}
#tweets{
  color: blue;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#flash {
  height: 45px;
  max-width: 185px;
  background:lime;
  padding: 12px 10px;
  color:#fff;
  border:none;
  border-radius:8px;
  
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  //Firefox 1+
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  //Safari 3-4
  -moz-animation-name: flash;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}

@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

//Firefox 1+
@-webkit-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

//Safari 3-4
@-moz-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

